body {
    background-image: url("/assets/images/platesoffood.jpg");
    background-size: 300px;
    background-repeat: repeat;
    background-position: center 
}
.supermarket {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 10vh;
    width: 88vw;
    height: 80vh;
    background-image: url("/assets/images/somefoods.jpg");
    background-size: cover;
    border-radius: 10px;
    opacity: .8;
    z-index: -1;
}
.food-eater-header {
    font-size: 11vw;
    color: #fff942;
}
.column-header {
    font-size: 56px;
    color:#300830;
}
.whos-cooking {
    font-size: 17px;
    color:#f7f775;
    margin-right: 20px;
}
.eat {
    margin: 2px;
    color: #630303;
    background-color: #e19107
}
.eaten {
    margin: 2px;
    color: #630303;
    background-color: #eef063;
}
.new-food-field {
    width: 290px;
    height: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #ecffb4ce; 
}
.new-food-button {
    margin: 2px;
    color: #052771;
    background-color: #22a8ba;
    margin-bottom: 20px;
}
.new-cook-button {
    margin: 2px;
    color: #052771;
    background-color: #22ba2a;
    margin-bottom: 20px;
}
#cookSelector {
    background-color: #ecffb4ce;
    color: #052771;
}